<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

  <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
      <div id="header" class="nav-collapse">
          <div class="row clearfix">
              <div class="col-1">

                  <!--Logo-->
                  <div id="logo">

                      <!--Logo that is shown on the banner-->
                      <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                      <!--End of Banner Logo-->

                      <!--The Logo that is shown on the sticky Navigation Bar-->
                      <img src="assets/images/logo.png" id="navigation-logo" alt="Landing Page"/>
                      <!--End of Navigation Logo-->

                  </div>
                  <!--End of Logo-->

                  <aside >

                      <!--Social Icons in Header-->
                      <ul class="social-icons">
                          <li>
                              <a target="_blank" title="fa-youtube" href="https://www.youtube.com/channel/UCL6vX__DyqkafPzvQWDdCnw">
                                  <i class="fa fa-youtube fa-1x"></i><span>Youtube</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/szalazar/">
                                  <i class="fa fa-linkedin fa-1x"></i><span>LinkedIn</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Github" href="https://github.com/sezalazar">
                                  <i class="fa fa-github fa-1x"></i><span>Github</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Twitter" href="https://twitter.com/sezalazar/">
                                  <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Mail" href="mailto:zalazarsebastian@gmail.com">
                                  <i class="fa fa-envelope fa-1x"></i><span>Mail</span>
                              </a>
                          </li>
                      </ul>
                      <!--End of Social Icons in Header-->

                  </aside>

                  <!--Main Navigation-->
                  <nav id="nav-main">
                      <ul>
                          <li>
                              <a href="#banner">Home</a>
                          </li>
                          <li>
                              <a href="#about">About</a>
                          </li>
                          <li>
                              <a href="#gallery">Gallery</a>
                          </li>
                          <li>
                              <a href="#services">Services</a>
                          </li>
                          <li>
                              <a href="#testimonials">Testimonials</a>
                          </li>
                          <li>
                              <a href="#clients">Clients</a>
                          </li>
                          <li>
                              <a href="#pricing">Pricing</a>
                          </li>
                      </ul>
                  </nav>
                  <!--End of Main Navigation-->

                  <div id="nav-trigger"><span></span></div>
                  <nav id="nav-mobile"></nav>

              </div>
          </div>
      </div><!--End of Header-->

      <!--Banner Content-->
      <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading"  >
                <h1 style="color:#000000;">YOUR NEXT DEVELOPER</h1>
                <h2 style="color:#000000;">Bachelord Grade in Systems and more than ten years of experience in PeopleSoft ERP.
                  Passion for web development.</h2>
            </div>

            <!--Call to Action-->
            <a href="#" class="button" >CHANGE YOUR WEB TODAY</a>
            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->
  </header>

  <!--Main Content Area-->
  <main id="content">

      <!--Introduction-->
      <app-technologies></app-technologies>
      <!--End of Introduction-->


      <!--Gallery-->
      <app-galery></app-galery>
      <!--End of Gallery-->


      <!--Content Section-->
      <app-content></app-content>
      <!--End of Content Section-->

      <!--Testimonials-->
      <app-clients></app-clients>
      <!--End of Testimonials-->

      <!--Clients-->
      <app-feedback></app-feedback>
      <!--End of Clients-->

      <!--Pricing Tables-->
      <app-pricing-table></app-pricing-table>
      <!--End of Pricing Tables-->

  </main>
  <!--End Main Content Area-->


  <!--Footer-->
  <footer id="landing-footer" class="clearfix">
      <div class="row clearfix">

          <p id="copyright" class="col-2">Made with love by <a href="https://www.shapingrain.com">ShapingRain</a></p>

          <!--Social Icons in Footer-->
          <ul class="col-2 social-icons">
              <li>
                  <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UCL6vX__DyqkafPzvQWDdCnw">
                      <i class="fa fa-youtube fa-1x"></i><span>Youtube</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/szalazar/">
                      <i class="fa fa-linkedin fa-1x"></i><span>LinkedIn</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="GitHub" href="https://github.com/sezalazar">
                      <i class="fa fa-github fa-1x"></i><span>GitHub</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="Twitter" href="https://twitter.com/sezalazar/">
                      <i class="fa fa-twitter fa-1x"></i><span>Instagram</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="behance" href="mailto:zalazarsebastian@gmail.com">
                      <i class="fa fa-envelope fa-1x"></i><span>Behance</span>
                  </a>
              </li>
          </ul>
          <!--End of Social Icons in Footer-->
      </div>
  </footer>
  <!--End of Footer-->

</div>
